:root {
  --bs-btn-color: #146bff;
  --bs-hover-btn-color: #2773f7;
  --bs-backeground-base-color: #c5e5f9ab;
}

body {
  font-family: Ubuntu, Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  background-color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dives {
  display: flex;
}

.c-1,
.c-3 {
  /* padding: 26px 3%; */
  padding: 0.5rem 1rem;
  height: 55px;
  color: white;
  background-color: var(--bs-btn-color);
  justify-content: space-between;
  align-items: center;
}

.bordered {
  border: white 2px solid;
  border-radius: 8px;
  padding: 10px 26px;
}

.containerr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

.c-2 {
  display: flex;
  justify-content: center;
}

.page-2 {
  display: flex;
  /* margin-right: 17%; */
}

.page-2 > img {
  margin-right: 20px;
  border-radius: 10px;
}

.c-3 > button:hover {
  color: #fff;
  background-color: var(--bs-btn-color);
  border-color: rgb(7, 58, 135);
}
.c-3 > button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: white;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: rgb(7, 58, 135);
}

.itm {
  width: 100%;
  border: #0d6efd 1px solid;
  padding: 10px;
}

#item {
  visibility: hidden;
}

.answer-options[_ngcontent-huw-c116] {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
  background-color: #f2f6fc !important;
  border: 1px solid #e0e5ec !important;
}
.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.styling {
  padding-left: 0 !important;
}

html,
body {
  /* font-family: "Muli", sans-serif; */
  /* background-color: #272936; */
  /* color: #a6a8b6; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

[type="radio"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
[type="radio"]:checked ~ label {
  border-color: #4062f6;
  background-color: rgba(97, 154, 234, 0.16);
  /* color: #FFF; */
}
[type="radio"]:checked ~ label:before {
  will-change: transform, border-width, border-color;
  -webkit-animation: bubble 1s ease-in;
  animation: bubble 1s ease-in;
}
[type="radio"]:checked ~ label:after {
  will-change: opacity, box-shadow;
  -webkit-animation: sparkles 700ms ease-in-out;
  animation: sparkles 700ms ease-in-out;
}
[type="radio"]:checked ~ label > span {
  will-change: transform;
  border: 0;
  background-image: linear-gradient(to top right, #6e89ff, #4363ee);
  -webkit-animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
  animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
[type="radio"]:checked ~ label > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
}
[type="radio"]:checked ~ label .card {
  will-change: box-shadow;
  -webkit-animation: card 500ms ease-in-out forwards;
  animation: card 500ms ease-in-out forwards;
}
[type="radio"]:checked ~ label .card:after {
  will-change: transform;
  -webkit-animation: shine 500ms ease-in forwards;
  animation: shine 500ms ease-in forwards;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

[type="checkbox"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
[type="checkbox"]:checked ~ label {
  border-color: #4062f6;
  background-color: rgba(97, 154, 234, 0.16);
  /* color: #FFF; */
}
[type="checkbox"]:checked ~ .label-correct-choice {
  border-color: #43f640;
  background-color: rgba(97, 234, 131, 0.16);
  /* color: #FFF; */
}
[type="checkbox"]:checked ~ label:before {
  will-change: transform, border-width, border-color;
  -webkit-animation: bubble 1s ease-in;
  animation: bubble 1s ease-in;
}
[type="checkbox"]:checked ~ label:after {
  will-change: opacity, box-shadow;
  -webkit-animation: sparkles 700ms ease-in-out;
  animation: sparkles 700ms ease-in-out;
}
[type="checkbox"]:checked ~ .label-correct-choice > span {
  will-change: transform;
  border: 0;
  background-image: linear-gradient(to top right, #70ff6e, #43ee8a);
  -webkit-animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
  animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
[type="checkbox"]:checked ~ label > span {
  will-change: transform;
  border: 0;
  background-image: linear-gradient(to top right, #6e89ff, #4363ee);
  -webkit-animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
  animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
[type="checkbox"]:checked ~ label > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
}
[type="checkbox"]:checked ~ label .card {
  will-change: box-shadow;
  -webkit-animation: card 500ms ease-in-out forwards;
  animation: card 500ms ease-in-out forwards;
}
[type="checkbox"]:checked ~ label .card:after {
  will-change: transform;
  -webkit-animation: shine 500ms ease-in forwards;
  animation: shine 500ms ease-in forwards;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

label {
  position: relative;
  display: grid !important;
  align-items: center;
  grid-template-columns: 20px auto 100px;
  grid-gap: 20px;
  width: 320px;
  height: 62px;
  padding: 0 20px;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: all 300ms ease-in;
}
label:hover {
  border-color: #4062f6;
  background-color: rgba(97, 154, 234, 0.16);
}
label:before,
label:after {
  position: absolute;
  left: 29px;
  border-radius: 50%;
  content: "";
}
label:before {
  margin: -2rem;
  border: solid 2rem #4062f6;
  width: 4rem;
  height: 4rem;
  transform: scale(0);
}
label:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 0.32476rem -2.6875rem 0 -0.1875rem #ff8080,
    -0.32476rem -2.3125rem 0 -0.1875rem #ffed80,
    2.30366rem -1.42172rem 0 -0.1875rem #ffed80,
    1.6055rem -1.69573rem 0 -0.1875rem #a4ff80,
    2.54785rem 0.91464rem 0 -0.1875rem #a4ff80,
    2.32679rem 0.19796rem 0 -0.1875rem #80ffc8,
    0.87346rem 2.56226rem 0 -0.1875rem #80ffc8,
    1.29595rem 1.94258rem 0 -0.1875rem #80c8ff,
    -1.45866rem 2.28045rem 0 -0.1875rem #80c8ff,
    -0.71076rem 2.2244rem 0 -0.1875rem #a480ff,
    -2.69238rem 0.28141rem 0 -0.1875rem #a480ff,
    -2.18226rem 0.8312rem 0 -0.1875rem #ff80ed,
    -1.89869rem -1.92954rem 0 -0.1875rem #ff80ed,
    -2.01047rem -1.18791rem 0 -0.1875rem #ff8080;
}
label > span {
  position: relative;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  /* border: 2px solid #454861; */
  /* background-image: linear-gradient(to bottom, #3B4059, #1C1E2D); */
}

.card {
  position: relative;
  width: 243px;
  height: 152px;
  padding: 22px 24px;
  border-radius: 16px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(45deg, #fff, #cdcdcd);
  overflow: hidden;
}
/* .card:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
} */
.card:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  transform: translateX(-70px);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}
.card--blue {
  background-image: linear-gradient(45deg, #748dfb, #3859e8);
}
.card--dark {
  background-image: linear-gradient(45deg, #616161, #484848);
}
.card--sm {
  position: absolute;
  right: -76px;
  transform: scale(0.24);
}
.card__chip {
  width: 39px;
  height: 28px;
  border-radius: 7px;
  border: 1px solid rgba(102, 84, 50, 0.5);
  box-shadow: inset 1px 1px 0px rgba(179, 146, 86, 0.5);
  background-image: linear-gradient(90deg, #d0a963, #ffe6ba);
}
.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.card__symbol {
  display: flex;
}
.card__symbol span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fb4646;
}
.card__symbol span:last-child {
  background-color: rgba(255, 163, 55, 0.75);
  margin-left: -13px;
}

.text__row {
  display: grid;
  grid-template-columns: 54px 64px;
  grid-gap: 6px;
}
.text__row:last-of-type {
  grid-template-columns: 45px 54px;
  margin-top: 7px;
}
.text__loader {
  height: 13px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

.option:not(:last-child) {
  margin-bottom: 4px;
}

@-webkit-keyframes radio {
  0%,
  17.5% {
    transform: scale(0);
  }
}

@keyframes radio {
  0%,
  17.5% {
    transform: scale(0);
  }
}
@-webkit-keyframes card {
  0% {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
    transform: scale(0.24);
  }
  45% {
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.25);
  }
  100% {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
    transform: scale(0.24);
  }
}
@keyframes card {
  0% {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
    transform: scale(0.24);
  }
  45% {
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.25);
  }
  100% {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
    transform: scale(0.24);
  }
}
@-webkit-keyframes shine {
  from {
    transform: translateX(-70px) rotate(10deg);
  }
  to {
    transform: translateX(300px) rotate(10deg);
  }
}
@keyframes shine {
  from {
    transform: translateX(-70px) rotate(10deg);
  }
  to {
    transform: translateX(300px) rotate(10deg);
  }
}
@-webkit-keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #4062f6;
    border-width: 2rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #4062f6;
    border-width: 0;
  }
}
@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #4062f6;
    border-width: 2rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #4062f6;
    border-width: 0;
  }
}
@-webkit-keyframes sparkles {
  0%,
  10% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 1;
    transform: scale(1.2) rotate(-20deg);
    box-shadow: 0.32476rem -2.1875rem 0 0rem #ff8080,
      -0.32476rem -1.8125rem 0 0rem #ffed80,
      1.91274rem -1.10998rem 0 0rem #ffed80,
      1.21459rem -1.38398rem 0 0rem #a4ff80,
      2.06039rem 0.80338rem 0 0rem #a4ff80, 1.83932rem 0.0867rem 0 0rem #80ffc8,
      0.65652rem 2.11178rem 0 0rem #80ffc8, 1.07901rem 1.4921rem 0 0rem #80c8ff,
      -1.24172rem 1.82996rem 0 0rem #80c8ff,
      -0.49382rem 1.77391rem 0 0rem #a480ff,
      -2.20492rem 0.17015rem 0 0rem #a480ff,
      -1.69479rem 0.71994rem 0 0rem #ff80ed,
      -1.50777rem -1.61779rem 0 0rem #ff80ed,
      -1.61955rem -0.87617rem 0 0rem #ff8080;
  }
}
@keyframes sparkles {
  0%,
  10% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 1;
    transform: scale(1.2) rotate(-20deg);
    box-shadow: 0.32476rem -2.1875rem 0 0rem #ff8080,
      -0.32476rem -1.8125rem 0 0rem #ffed80,
      1.91274rem -1.10998rem 0 0rem #ffed80,
      1.21459rem -1.38398rem 0 0rem #a4ff80,
      2.06039rem 0.80338rem 0 0rem #a4ff80, 1.83932rem 0.0867rem 0 0rem #80ffc8,
      0.65652rem 2.11178rem 0 0rem #80ffc8, 1.07901rem 1.4921rem 0 0rem #80c8ff,
      -1.24172rem 1.82996rem 0 0rem #80c8ff,
      -0.49382rem 1.77391rem 0 0rem #a480ff,
      -2.20492rem 0.17015rem 0 0rem #a480ff,
      -1.69479rem 0.71994rem 0 0rem #ff80ed,
      -1.50777rem -1.61779rem 0 0rem #ff80ed,
      -1.61955rem -0.87617rem 0 0rem #ff8080;
  }
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-css {
  color: white;
  border: white 1px solid;
  border-radius: 8px;
  padding: 7px 1.5%;
  cursor: pointer;
}

.button-css:hover {
  background-color: white;
  border: var(--bs-btn-color) 1px solid;
  color: var(--bs-btn-color);
}

.c-1-2 > span {
  font-size: x-large;
}




.btn-primary {
  color: #fff;
  background-color: #006bff;
  border-color: #006bff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
}

.btn,
.btn-icon {
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-green {
  color: #00ac69 !important;
}

.page-3{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.page-3-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .border-style {
  border-radius: 39px;
  box-shadow: -14px 14px 19px #916262, 14px -14px 19px #d18c8c;
} */

/* //////////// */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.contai-ner {
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
  background: #cfd1e1; */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.boxs {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .boxs::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
} */

/* .boxs::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
} */

.boxs .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

/* .boxs .shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
} */
/* 
.boxs .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
} */

.boxs .cont-ent {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 20px rgba(0,0,0,0.1),
    50px 50px 50px rgba(0,0,0,0.1),
    inset 3px 3px 2px #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxs .cont-ent .percents {
  position: relative;
  width: 150px;
  height: 150px;
}

.boxs .cont-ent .percents::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.boxs .cont-ent .percents svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.boxs .cont-ent .percents svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(0,0,0,0.05);
  transform: translate(5px, 5px);
}
.percents{
  font-family: 'Font Awesome 5 Free', 'Poppins', sans-serif;

}
.boxs .cont-ent .percents svg circle:nth-child(2) {
  stroke: #555;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boxs .cont-ent .percents .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 1s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.boxs .cont-ent .percents .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}

.boxs .cont-ent .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1s;
}

.boxs .cont-ent .number h2 {
  font-size: 2.5rem;
  color: #555;
}

.boxs .cont-ent .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}

.progressBar{
  animation: progressing 1s linear forwards;
}

.progressBarContent::after {
  content: attr(data-content);
  animation: contentel 1s;
}

@keyframes contentel {
  0% {
      width: 0%;
  }
  100% {
      width:  attr(data-content);
  }
}


@keyframes progressing {
  0% {
    width: 0;
  }
  100% {
    width: var(--with);
  }
}
.dashboard {
  display: flex;
  margin-top: 120px;
}
.page-3>div{

  width: 60%;
}
#image-score{
  width: fit-content;
  height: 210px;
}
.actionBtn{
  display: flex;
}
.repeat-btn{
  color: var(--bs-btn-color);
  border: var(--bs-btn-color) 1px solid;
  background-color: white;
}
.next-page-btn{
  color: white;
  border: var(--bs-btn-color) 1px solid;
  background-color: var(--bs-btn-color);
}
.repeat-btn:hover{
  color: black;
  border: var(--bs-btn-color) 1px solid;
  background-color: white;
}
.next-page-btn:hover{
  color: white;
  border: var(--bs-hover-btn-color) 1px solid;
  background-color: var(--bs-hover-btn-color);
}
.button-action{
  padding: 8px 39px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.correct-container {
  display: flex;
  margin-bottom: 30px;
}

.correct-container>span{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--bs-btn-color);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 37px;
}

.correct>img{
  flex-shrink: 0;
    width: 20vw;
    margin-right: 35px;
    border-radius: 10px;
}

.page-4{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.page-4-1{
  display: flex;
  justify-content: space-between;

}

hr{
  width: 100%;
}
.v-more{
  text-decoration: underline;
  font-size: 14px;
  color: var(--bs-btn-color);
  cursor: pointer;
}

.page-4-1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.correct{
  width: 20vw;
}
















@media (max-width: 900px) {
  .page-2 {
    flex-direction: column;
  }

  .page-2 > img {
    width: 92% !important;
    margin: 0 0 15px 0;
  }

  .c-2 {
    display: block;
  }
  .choices {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .choices > h4 {
    font-size: xx-large;
  }

  .c-1-1,
  .c-3-1 {
    display: none;
  }

  .page-2 {
    display: flex;
    margin-right: 0;
    align-content: center;
    align-items: center;
  }
  .button-css {
    padding: 7px 5.5%;
  }

  label {
    width: 100%;
  }
  .page-3-1,.page-3-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  #image-score {
    width: fit-content;
    height: 180px;
}
.information{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard {
  display: flex;
  margin-top: 0px ;
  flex-direction: column;
}
.correct-container>span{
  display: none ;
}
.correct>img {
  flex-shrink: 0;
  width: 50vw;
  margin-right: 35px;
  margin-bottom: 20px;

}
.correct-container {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: column;
}
.page-4-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 40px;
}
.theDisplayer{    
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-4-2{
  width: 52%;
}
.correct{width: auto;}
}
@media (max-width: 500px) {
  .page-2 {
    flex-direction: column;
  }

  .page-2 > img {
    width: 92% !important;
    margin: 0 0 15px 0;
  }

  .c-2 {
    display: block;
  }
  .choices {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .c-1-1,
  .c-3-1 {
    display: none;
  }

  .page-2 {
    display: flex;
    margin-right: 0;
    align-content: center;
    align-items: center;
  }
  .button-css {
    padding: 7px 5.5%;
  }

  .page-4-2{
    width: 80%;
  }
  .correct>img {
    width: 80vw;
  }  
  .correct{width: auto;}

  .page-4{
    width: auto;
    display: block;
    margin: 0;
    margin-top: 20px;
  }

  .page-4-1{
    margin: 0;
    padding: 0 10px;
    align-items: center;

  }
  .page-4-1>h2{
    margin: 0;
  }
}








.hide {
  display: none;
}